interactions:
- request:
    body: '{"code": "marker", "value": "vfls"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"2026-09-30T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":158444,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"vfls\"},{\"attribute_datatype_code\":\"text\",\"code\":\"name\",\"date_from\":\"2026-09-30T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        name\",\"description_is\":\"Nafn st\xF6\xF0var\",\"id_attribute_value\":158445,\"name_en\":\"Name\",\"name_is\":\"Nafn\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"Vatnsfell
        Su\xF0ur\"},{\"attribute_datatype_code\":\"text\",\"code\":\"subtype\",\"date_from\":\"2026-09-30T00:00:00\",\"date_to\":null,\"des[...]
- request:
    body: '{"code": "marker", "value": "vfls"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/meteorological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "vfls"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/hydrological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/21832
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"boolean\",\"code\":\"is_near_fault_zones\",\"date_from\":\"2026-09-30T00:00:00\",\"date_to\":null,\"description_en\":\"Is
        near fault zones\",\"description_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"id_attribute_value\":158453,\"name_en\":\"Is
        near fault zones\",\"name_is\":[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/entity_contacts/21832
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/maintenances/id_entity/21832
  response:
    body:
      string: "[{\"completed\":true,\"creation_time\":\"2026-10-01T21:14:00.750087\",\"end_time\":\"2026-09-30T12:00:00\",\"id\":5868,\"maintenance_type\":\"on_site\",\"maintenance_type_is\":\"Sta\xF0arvitjun\",\"participants\":null,\"participants_names\":null,\"reason\":\"Breyting\",\"remaining\":null,\"start_time\":\"2026-09-30T12:00:00\",\"work\":\"Uppsetning
        n\xFDrrar GNSS st\xF6\xF0var VFLS vi\xF0 Vatnsfellsvirkjun: PolaRx5 m\xF3ttakari,
        SEPVC6150L loftnet me\xF0 SCIS hl\xEDf, st\xE1l-fj\xF3rf\xF3tur og Milesight
        UR32L router\"}]"
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"search_term": "vfls"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/basic_search
  response:
    body:
      string: "[{\"id_lvl_one\":21831,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"Vatnsfellsvirkjun
        Su\xF0ur\",\"id_lvl_two\":21832,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Jar\xF0e\xF0lisst\xF6\xF0\",\"name_lvl_two\":\"Vatnsfell
        Su\xF0ur\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":21832,\"value_varchar\":\"vfls\",\"code\":\"marker\",\"name_is\":\"Au\xF0kenni\",\"description_is\":\"Au\xF0kenni
        st\xF6\xF0var, venjulega fimm stafa skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"distance\":0},{\"id_lvl_one\":21833,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"Vatnsfellsvirkjun
        Nor\xF0ur\",\"id_lvl_two\":21834,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Jar\xF0e\xF0lisst\xF6\xF0\",\"name_lvl_two\":\"Vatnsfell
        Nor\xF0ur\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":21834,\"value_varchar\":\"vfln\",\"code\":\"marker\",\"name_is\":\"Au\xF0kenni\",\"descrip[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/maintenances/id_entity/21822
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
