interactions:
- request:
    body: '{"code": "marker", "value": "vlfs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "vlfs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/meteorological
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"1963-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":451,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"vlfs\"},{\"attribute_datatype_code\":\"integer\",\"code\":\"imo\",\"date_from\":\"1963-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        meteorological IMO number\",\"description_is\":\"N\xFAmer samkv\xE6mt ve\xF0urst\xF6\xF0van\xFAmerakerfi
        V\xCD\",\"id_attribute_value\":452,\"name_en\":\"IMO number\",\"name_is\":\"V\xCD
        ve\xF0urst\xF6\xF0van\xFAmer\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"15\"},{\"attribute_datatype_code\"[...]
- request:
    body: '{"code": "marker", "value": "vlfs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/hydrological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/96
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"timestamp\",\"code\":\"date_start\",\"date_from\":\"1963-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        start date\",\"description_is\":\"Upphafsdagsetning\",\"id_attribute_value\":459,\"name_en\":\"Start
        date\",\"name_is\":\"Upphafsdagsetning\",\"python_constrain[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/entity_contacts/96
  response:
    body:
      string: "[{\"id_contact_entity_relationship\":2313,\"id_contact\":1256,\"id_entity\":96,\"per_time_from\":\"1910-01-01T00:00:00\",\"per_time_to\":null,\"role\":\"owner\",\"name\":\"Ve\xF0urstofa
        \xCDslands\",\"ssid\":\"6309080350\",\"address\":\"B\xFAsta\xF0arvegur 7-9,
        105 Reykjav\xEDk, \xCDsland\",\"job_title\":\"\",\"organization\":\"Ve\xF0urstofa
        \xCDslands\",\"phone_primary\":\"5226000\",\"phone_secondary\":\"\",\"phone_tertiary\":\"\",\"contact_start_date\":\"1845-01-01T00:00:00\",\"contact_end_date\":null,\"comment\":\"\",\"role_is\":\"Eigandi
        st\xF6\xF0var\"},{\"id_contact_entity_relationship\":3316,\"id_contact\":1498,\"id_entity\":96,\"per_time_from\":\"1992-01-01T00:00:00\",\"per_time_to\":\"1996-01-01T00:00:00\",\"role\":\"observer\",\"name\":\"Gu\xF0mundur
        \xDE\xF3r Bjarnason\",\"ssid\":\"205785489\",\"address\":null,\"job_title\":\"athugunarma\xF0ur\",\"organization\":null,\"phone_primary\":null,\"phone_secondary\":null,\"phone_tertiary\":null,\"contact_start_date\":\"1992-01-01T00:00:00\",\"contact_en[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/maintenances/id_entity/96
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
