interactions:
- request:
    body: '{"code": "marker", "value": "soho"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"2014-07-09T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":36469,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"soho\"},{\"attribute_datatype_code\":\"text\",\"code\":\"subtype\",\"date_from\":\"2014-07-09T00:00:00\",\"date_to\":\"2014-07-09T15:00:00\",\"description_en\":\"Station
        subtype, indicates composition or subject of the measurements\",\"description_is\":\"Undirtegund
        st\xF6\xF0var, l\xFDsir samsetningu e\xF0a vi\xF0fangsefni m\xE6linga\",\"id_attribute_value\":36470,\"name_en\":\"Subtype\",\"name_is\":\"Undirtegund\",\"python_constraint\":\".*\",\"sort_order\":30,\"[...]
- request:
    body: '{"code": "marker", "value": "soho"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/meteorological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "soho"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/hydrological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"search_term": "soho"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/basic_search
  response:
    body:
      string: "[{\"id_lvl_one\":4415,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"S\xF3lheimahei\xF0i\",\"id_lvl_two\":4416,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Jar\xF0e\xF0lisst\xF6\xF0\",\"name_lvl_two\":\"S\xF3lheimahei\xF0i\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":4416,\"value_varchar\":\"soho\",\"code\":\"marker\",\"name_is\":\"Au\xF0kenni\",\"description_is\":\"Au\xF0kenni
        st\xF6\xF0var, venjulega fimm stafa skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"distance\":0},{\"id_lvl_one\":5355,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"S\xF3lheimaj\xF6kull\",\"id_lvl_two\":5356,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Jar\xF0e\xF0lisst\xF6\xF0\",\"name_lvl_two\":\"S\xF3lheimahei\xF0i\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":5356,\"value_varchar\":\"soho\",\"code\":\"marker\",\"name_is\":\"Au\xF0kenni\",\"description_is\":\"Au\xF0kenni
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/5356
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"name\",\"date_from\":\"2014-07-09T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        name\",\"description_is\":\"Nafn st\xF6\xF0var\",\"id_attribute_value\":36471,\"name_en\":\"Name\",\"name_is\":\"Nafn\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/4416
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"boolean\",\"code\":\"is_near_fault_zones\",\"date_from\":\"2023-07-24T00:00:00\",\"date_to\":\"2023-07-24T00:00:00\",\"description_en\":\"Is
        near fault zones\",\"description_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"id_attribute_value\":137849,\"name_en\":\"Is
        near fault zones\",\"name_is\":\"Er n\xE1l\xE6gt sprungusv\xE6\xF0i\",\"python_constraint\":\"^(true$|false$)\",\"sort_order\":9999,\"value\":\"true\"},{\"attribute_datatype_code\":\"text\",\"code\":\"note\",\"date_from\":\"2023-07-24T00:00:00\",\"date_to\":\"2023-07-24T00:00:00\",\"description_en\":\"Note\",\"description_is\":\"Gl\xF3sur\",\"id_attribute_value\":137852,\"name_en\":\"Note\",\"name_is\":\"Gl\xF3sur\",\"python_constraint\":\".*\",\"sort_order\":9999,\"value\":\"Checked
        by Chiara\"},{\"attribute_datatype_code\":\"text\",\"code\":\"continuity\",\"date_from\":\"2023-07-24T00:00:00\",\"date_to\":\"2023-07-24T00:00:00\",\"description_en\":\"GPS
        continuity: continuous, campaign\",\"description_is\":\"\xC1 ENSKU, samfella
        GPS-m\xE6linga: continuous, campaign\",\"id_attribute_value\":137851,\"name_en\":\"Continuity\",\"name_is\":\"Samfella\",\"python_constraint\":\"^(continuous$|campaign$)\",\"sort_order\":9999,\"value\":\"continuous\"},{\"attribute_datatype_code\":\"text\",\"code\":\"geological_characteristic\",\"date_from\":\"2023-07-24T00:00:00\",\"date_to\":\"2023-07-24T00:00:00\",\"description_en\":\"e.g.
        bedrock, clay, conglome[...]
[...]
