interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/96
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"timestamp\",\"code\":\"date_start\",\"date_from\":\"1963-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        start date\",\"description_is\":\"Upphafsdagsetning\",\"id_attribute_value\":459,\"name_en\":\"Start
        date\",\"name_is\":\"Upphafsdagsetning\",\"python_constraint\":\".*\",\"sort_order\":200,\"value\":\"1963-01-01
        00:00:00\"},{\"attribute_datatype_code\":\"text\",\"code\":\"name_short\",\"date_from\":\"1963-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Short
        name for external applications\",\"description_is\":\"Stutt nafn fyrir ytri
        kerfi\",\"id_attribute_value\":107838,\"name_en\":\"Name short\",\"name_is\":\"Nafn
        stutt\",\"python_constraint\":\".*\",\"sort_order\":9999,\"value\":\"Vlfs\"},{\"attribute_datatype_code\":\"timestamp\",\"code\":\"date_leg[...]
