interactions:
- request:
    body: '{"code": "marker", "value": "brst"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "brst"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/meteorological
  response:
    body:
      string: "[{\"attributes\":[{\"attribute_datatype_code\":\"text\",\"code\":\"marker\",\"date_from\":\"1939-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        marker\",\"description_is\":\"Au\xF0kenni st\xF6\xF0var, venjulega fimm stafa
        skammst\xF6fun me\xF0 enskum l\xE1gst\xF6fum\",\"id_attribute_value\":5613,\"name_en\":\"Marker\",\"name_is\":\"Au\xF0kenni\",\"python_constraint\":\"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\"sort_order\":10,\"value\":\"brst\"},{\"attribute_datatype_code\":\"integer\",\"code\":\"imo\",\"date_from\":\"1939-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        meteorological IMO number\",\"description_is\":\"N\xFAmer samkv\xE6mt ve\xF0urst\xF6\xF0van\xFAmerakerfi
        V\xCD\",\"id_attribute_value\":5614,\"name_en\":\"IMO number\",\"name_is\":\"V\xCD
        ve\xF0urst\xF6\xF0van\xFAmer\",\"python_constraint\":\".*\",\"sort_order\":20,\"value\":\"829\"},{\"attribute_datatype_code[...]
- request:
    body: '{"code": "marker", "value": "brst"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/hydrological
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"search_term": "brst"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/basic_search
  response:
    body:
      string: "[{\"id_lvl_one\":9877,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"Br\xFAnasta\xF0ir\",\"id_lvl_two\":9878,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Vatnam\xE6lingast\xF6\xF0\",\"name_lvl_two\":\"Br\xFAnasta\xF0ir\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":9878,\"value_varchar\":\"Br\xFAnasta\xF0ir\",\"code\":\"name\",\"name_is\":\"Nafn\",\"description_is\":\"Nafn
        st\xF6\xF0var\",\"distance\":7},{\"id_lvl_one\":330,\"type_lvl_one\":\"sta\xF0setning\",\"subtype_lvl_one\":\"Land\",\"name_lvl_one\":\"Br\xFAsasta\xF0ir\",\"id_lvl_two\":901,\"type_lvl_two\":\"st\xF6\xF0\",\"subtype_lvl_two\":\"Ve\xF0urst\xF6\xF0\",\"name_lvl_two\":\"Br\xFAsasta\xF0ir\",\"id_lvl_three\":null,\"type_lvl_three\":null,\"subtype_lvl_three\":null,\"name_lvl_three\":null,\"id_entity\":901,\"value_varchar\":\"Br\xFAsasta\xF0ir\",\"code\":\"name\",\"name_is\":\"Nafn\",\"description_is\":\"Nafn
        st\xF6\xF0va[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/646
  response:
    body:
      string: "{\"attributes\":[{\"attribute_datatype_code\":\"numeric\",\"code\":\"lat\",\"date_from\":\"1939-01-01T00:00:00\",\"date_to\":null,\"description_en\":\"Station
        latitude in decimal degrees\",\"description_is\":\"Breiddargr\xE1\xF0a st\xF6\xF0var
        \xED tugabrotsgr\xE1\xF0um\",\"id_attribute_value\":5616,\"name_en\":\"Latitude\",\[...]
