interactions:
- request:
    body: '{"code": "marker", "value": "aust"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: "[\n  {\n    \"attributes\": [\n      {\n        \"attribute_datatype_code\":
        \"text\",\n        \"code\": \"marker\",\n        \"date_from\": \"1993-06-08T00:00:00\",\n
        \       \"date_to\": null,\n        \"description_en\": \"Station marker\",\n
        \       \"description_is\": \"Au\\u00f0kenni st\\u00f6\\u00f0var, venjulega
        fimm stafa skammst\\u00f6fun me\\u00f0 enskum l\\u00e1gst\\u00f6fum\",\n        \"id_attribute_value\":
        30330,\n        \"id_entity\": 4235,\n        \"name_en\": \"Marker\",\n        \"name_is\":
        \"Au\\u00f0kenni\",\n        \"python_constraint\": \"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\n
        \       \"sort_order\": 10,\n        \"value\": \"aust\"\n      },\n      {\n
        \       \"attribute_datatype_code\": \"text\",\n        \"code\": \"name\",\n
        \       \"date_from\": \"1993-06-08T00:00:00\",\n        \"date_to\": null,\n
        \       \"description_en\": \"Station name\",\n        \"description_is\":
        \"Nafn st\\u00f6\\u00f0var\",\n        \"id_attribute_value\": 30331,\n        \"id_entity\":
        4235,\n        \"name_en\": \"Name\",\n        \"name_is\": \"Nafn\",\n        \[...]
- request:
    body: '{"code": "marker", "value": "AUST"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/internal/entity/search/station/geophysical
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/internal/history/entity/4235
  response:
    body:
      string: "{\n  \"attributes\": [\n    {\n      \"attribute_datatype_code\": \"boolean\",\n
        \     \"code\": \"is_near_fault_zones\",\n      \"date_from\": \"1993-06-08T00:00:00\",\n
        \     \"date_to\": null,\n      \"description_en\": \"Is near fault zones\",\n
        \     \"description_is\": \"Er n\\u00e1l\\u00e6gt sprungusv\\u00e6\\[...]
[...]
