interactions:
- request:
    body: '{"code": "marker", "value": "RHOF"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/v1/entity/search/station/geophysical/
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"code": "marker", "value": "rhof"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://vi-api.vedur.is/tos/v1/entity/search/station/geophysical/
  response:
    body:
      string: "[\n  {\n    \"attributes\": [\n      {\n        \"attribute_datatype_code\":
        \"text\",\n        \"code\": \"marker\",\n        \"date_from\": \"2001-07-19T00:00:00\",\n
        \       \"date_to\": null,\n        \"description_en\": \"Station marker\",\n
        \       \"description_is\": \"Au\\u00f0kenni st\\u00f6\\u00f0var, venjulega
        fimm stafa skammst\\u00f6fun me\\u00f0 enskum l\\u00e1gst\\u00f6fum\",\n        \"id_attribute_value\":
        31110,\n        \"id_entity\": 4390,\n        \"name_en\": \"Marker\",\n        \"name_is\":
        \"Au\\u00f0kenni\",\n        \"python_constraint\": \"^[a-z0-9]{3,6}|^[A-Z]\\\\d{1,6}\",\n
        \       \"sort_order\": 10,\n        \"value\": \"rhof\"\n      },\n      {\n
        \       \"attribute_datatype_code\": \"text\",\n        \"code\": \"name\",\n
        \       \"date_from\": \"2001-07-19T00:00:00\",\n        \"date_to\": null,\n
        \       \"description_en\": \"Station name\",\n        \"description_is\":
        \"Nafn st\\u00f6\\u00f0var\",\n        \"id_attribute_value\": 31111,\n        \"id_entity\":
        4390,\n        \"name_en\": \"Name\",\n        \"name_is\": \"Nafn\",\n        \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/v1/history/entity/4390/
  response:
    body:
      string: "{\n  \"attributes\": [\n    {\n      \"attribute_datatype_code\": \"text\",\n
        \     \"code\": \"note\",\n      \"date_from\": \"2019-02-20T15:06:21\",\n
        \     \"date_to\": \"2021-06-01T20:41:59\",\n      \"description_en\": \"Note\",\n
        \     \"description_is\": \"Gl\\u00f3sur\",\n      \"id_attribute_value\":
        1131[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vi-api.vedur.is/tos/v1/entity_contacts/4390/
  response:
    body:
      string: "[\n  {\n    \"address\": \"B\\u00fasta\\u00f0arvegur 7-9, 105 Reykjav\\u00edk,
        \\u00cdsland\",\n    \"comment\": \"\",\n    \"contact_end_date\": null,\n
        \   \"contact_start_date\": \"1845-01-01T00:00:00\",\n    \"id_contact\":
        1256,\n    \"id_contact_entity_relationship\": 4387,\n    \"id_entity\": 4390,\n
        \   \"job_title\": \"\",\n    \"name\": \"Ve\\u00f0urstofa \\u00cdslands\",\n
        \   \"organization\": \"Ve\\u00f0urstofa \\u00cdslands\",\n    \"per_time_from\":
        \"2001-07-19T00:00:00\",\n    \"per_time_to\": null,\n    \"phone_primary\":
        \"5226000\",\n    \"phone_secondary\": \"\",\n    \"phone_tertiary\": \"\",\n
        \   \"role\": \"owner\",\n    \"role_is\": \"Eigandi st\\u00f6\\u00f0var\",\n
        \   \"ssid\": \"6309080350\"\n  },\n  {\n    \"address\": \"B\\u00fasta\\u00f0arvegur
        7-9, 105 Reykjav\\u00edk, \\u00cdsland\",\n    \"comment\": \"\",\n    \"contact_end_date\":
        null,\n    \"contact_start_date\": \"1845-01-01T00:00:00\",\n    \"id_contact\":
        1256,\n    \"id_contact_entity_relationship\": 4961,\n    \"id_entity\": 4390,\n
        \   \"job_title\": \"\",\n    \"name\": \"Ve\\u00f0urstofa \\u00cdslands\",\n
        \   \"organization\": \"Ve\\u00f0urstofa \\u00cdslands[...]
[...]
